body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h1 a { color: inherit; }
h1 a:hover { color: inherit; text-decoration: none; }

footer { margin-top: 10em; }

.btn-group .btn-default {
    color: #777;
}

.sidenav h4 {
    color:#777;
}
.sidenav .link {
    color:#777;
}
.sidenav a small {
    color:#ccc;
}

#asearch {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 80%;
    color: #000;
}

.long-item-list {
    overflow:scroll;
    list-style-type:none;
    padding:0;
    white-space:nowrap;
}

.inline-code {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #777;
}

.member-code {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    color: #777;
    word-wrap: normal;
    padding: 8px;
    line-height: 20px;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.code {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
    color: #777;
    word-wrap: normal;
    white-space: pre;
    padding: 16px 0px;
    line-height: 17px;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
.c-kw { color: #777 !important; }
.c-co { color: #909197 !important; }
.c-uk { color: #300 !important; }
.c-nl { color: #c60 !important; }
.c-nu { color: #c60 !important; }
.c-st { color: #c60 !important; }
.c-nr { color: #40424A !important; }
.c-nd { color: #40424A !important; font-weight: bold; }
.c-fr { color: #383A42 !important; }
.c-fd { color: rgb(101, 104, 114) !important; font-weight: bold; }
.c-mr { color: #50A14F !important; }
.c-md { color: #50A14F !important; font-weight: bold; }
.c-cr { color: #50A14F !important; }
.c-cd { color: #50A14F !important; font-weight: bold; }
.c-ar { color: #383A42 !important; }
.c-ad { color: #484A52 !important; font-weight: bold; }
.c-tr { color: #4f9fcf !important; }
.c-td { color: #2f6f9f !important; font-weight: bold; }
.c-pr { color: #0184BC !important; }
.c-pd { color: #0184BC !important; font-weight: bold; }
.c-er { color: #986801 !important; }
.c-ed { color: #986801 !important; font-weight: bold; }

ul.inline-code {
    padding: 20px;
    font-size: 15px;
    line-height: 24px;
}

ul.pkglist{
    overflow:auto;
    list-style-type:none;
    padding:0;
    white-space:nowrap;
}

li.diff-Add {
    list-style-type: disc;
}

li.diff-Update {
    list-style-type: circle;
}

li.diff-Remove {
    list-style-type: circle;
    text-decoration: line-through;
    text-decoration-color: #000;
}
