@page
@{
    ViewData["Title"] = "Home page";
}

<div style="margin:4em 12em 10em 4em">

<p>Dearest User,</p>

<div style="margin:2em 2em">

<p>I see you've found fuget.org, I guess I better explain it.</p>

<p>Have you ever wanted to know what was in a nuget, but were too afraid to ask? Yep, happens to us all.</p>

<p>Especially me. Hi, I'm Frank and I'm impatient. I want to know what's in a nuget without clicking many buttons.
    As Scott would say, you only have so many clicks left in your life, and I don't plan on using them renaming .nuget files to .zip.
    #notmylife
</p>

<p>Right, the site. It shows you the files in a nuget. Then it shows you what's in those files. Then it shows you the things
    that are in the things in that are in those files. It just keeps going deeper and deeper filling your brain with .NET goodness.
</p>

<p>Good luck.</p>

<p>Oh, and use the search bar at the top to find packages.</p>

<p style="margin:2em 8em 2em 0em;text-align:right">Love, Frank</p>

<p>P.S. I made the URLs on this site match those on nuget.org so you can totally just change that "n" to an "f" and you'll be all set.</p>

<p>P.P.S. Here's a link to <a href="/packages/Newtonsoft.Json">Newtonsoft.Json</a> to get you started.</p>

</div>

</div>
