@page
@{
    ViewData["Title"] = "Home page";
}

<h1 style="margin-top:1em;margin-bottom:0.5em;">fuget.org <small>pro nuget package browsing</small></h1>

<p>This site is a nuget package browser combined with an API browser.

The package browser uses the
<a href="https://nuget.org">nuget.org</a> API to display all the packages in their index.

The API browser combines the XML documentation and the metadata of the package's assemblies to
    help you explore and learn. Try the API search box to quickly find code, and use the
    code tab to see how the library works. You can also diff two package versions to see what's changed.
</p>

<p>I made the URLs on this site match those on nuget.org so you can totally just change that "n" to an "f" and you'll be all set.</p>

<div id="mru"></div>


