@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>
    This site does not track your personal information, but it does use cookies for 
    <a href="https://www.google.com/analytics/analytics/">Google Analytics</a>.
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Cookies</a> allow web developers to assign arbitrary data 
    that they synthesize to your browser. Google tracks a session number. They use this to tell me whether you stopped 
    using the website after 1 min or after 1.00001 min.
</p>
<p>
    &lt;3
</p>
