@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>fuget.org Privacy Policy</h1>

<p>
    This site doesn't track your personal info. I just don't care.
</p>
<p>
    That said, some crazies in Brussels think that tracking your sessions with Google Analytics counts.
    They obviously have no understanding of how the internet works. lol
</p>
<p>
    So yeah, I totes do that. But you know that, because to use this site you must have
    consented to the super annoying popup. So you technically know everything I'm saying... and yet... laws.
</p>
<p>
    The EU says I now need to explain to you what a cookie is. Here we go!
    Cookies are a hack implemented by the W3C when they realized they developed
    a terrible protocol. They allow web developers to assign arbitrary data that they synthesize
    to your browser. Some people (like olds in the EU) think that this makes it personal
    information - omg they so dumb - so yeah.
    Cookies are totally used in creepy ways around the internet and you totally shouldn't
    go to any web sites that use them. Except this site. Because it's awesome.
</p>
<p>
    Specifically, Google tracks a session number. They use this to tell me whether you stopped using
    the website after 1 min or after 1.00001 min. It's really fucking important information, so don't deny me it.
</p>
<p>
    &lt;3
</p>

